.pages-home-index{
  width: 100vw;
  height: 100vh;
  .pages-home-questionBank{
    width: 100%;
    height: 100%;
    position: relative;
    .empty-text{
      text-align: center;
      font-size: 14px;
      margin-top: 150px;
    }
    .exam-list-wrap{
      .home-examItem{
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(197,197,197,0.35);
        margin-bottom: 12px;
        .exam-name{
          font-size: 22px;
          font-weight: bold;
          border-bottom: 1px solid #ccc;
          padding-bottom: 10px;
        }
        .btm-wrap{
          display: flex;
          justify-content: flex-end;
          color: #008DE3;
          margin-top: 10px;
          margin-right: 10px;
        }
      }
    }
  }
  .pages-home-recruitManage{
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.pages-home-questionDetail{
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
  position: relative;
  .exam-name{
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-left: 22px;
    margin-top: 10px;
    .label{
      font-size: 14px;
      color: #333300;
      flex: 1 1 auto;
    }
    .name{
      font-size: 16px;
      color: #000;
      flex: 5 1 auto;
      font-weight: bold;
    }
  }
  .list-wrap{
    .ques-item{
      background-color: #fff;
      padding: 10px;
      margin-top: 10px;
      .ques-order{
        font-size: 14px;
        color: #333300;
      }
      .ques-content{
        font-size: 16px;
        font-weight: bold;
        margin-top: 8px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      .btns-box{
        display: flex;
        justify-content: flex-end;
        color: #008DE3;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }
  .empty-wrap{
    font-size: 14px;
  }
  .btm-btn{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.pages-home-addQuestion{
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  .form-wrap{
    margin-top: 10px;
    .label{
      padding: 15px 15px 9px;
      font-size: 14px;
      color: #333;
      width: 100%;
    }
    .picker-wrap{
      margin-top: 10px;
    }
  }
  .btn-wrap{
    width: 100%;
    position: fixed;
    bottom: 5px;
    left: 0;
  }
}

.pages-home-recruitManage-aiInvite{
  width: 100%;
  height: 100vh;
  .title{
    font-size: 18px;
    color: #111;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
  }
}
