.pages-login-index{
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(#f2f2f2, #41536B);
  // background: #fff;
  .content-wrap{
    width: 80%;
    .title{
      color: #111;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    .form-item{
      display: inline-flex;
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px solid #666;
      margin-top: 20px;
      .label{
        font-size: 16px;
      }
      .phone-input{
        border: none;
        outline: none;
        background: inherit;
        margin: 0 15px;
        flex: 1 1 auto;
        padding: 0 3px;
        font-size: 14px;
      }
    }
    .img-code-wrap{
      display: flex;
      margin-top: 20px;
      .label{
        font-size: 16px;
      }
      .img-wrap{
        width: 200px;
        height: 120px;
        margin-left: 10px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        display: flex;
        // flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-top: 30px;
        .code-item{
          width: 50px;
          height: 45px;
          position: relative;
          .red-dot{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: red;
            opacity: 0.6;
          }
        }
      }
    }
    .text-btn{
      color: #008DE3;
      font-size: 12px;
    }
    .btn-wrap{
      margin-top: 20px;
    }
  }
}
